<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.songsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Travis_greenActivity"
            android:label="@string/travis_green_name" />
        <activity
            android:name=".Frank_edwardActivity"
            android:label="@string/frank_edward_name" />
        <activity
            android:name=".Mercy_chinwoActivity"
            android:label="@string/mercy_chinwo_name" />
        <activity
            android:name=".JudikayActivity"
            android:label="@string/judikay_name" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>